.about-me {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 80rem;
  width: 80%;

  h1 {
    font-weight: 400;
  }

  h2 {
    font-weight: 300;
  }

  ul {
    list-style: none;
  }

  p {
    margin-top: 0.8rem;
    font-size: 1rem;
  }

  &__experience {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
  }

  &__notable-projects {
    margin-top: 2rem;
  }
}
