/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F0;
  min-height: 100%;
  min-width: 100%;
}

:root {
  --white: #bdd4ea;
  --gray: #334350;
}

::selection {
  background: #89AEB2;
}

.App {
  position:relative;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', monospace;
  align-items: center;
  min-height: 100%;
  min-width: 100%;

}
