.blog-page-container {
  margin-top: 2rem;
  width: clamp(700px, 50vw, 50rem);

  .blog-page-container__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    // title
    h1 {
      font-weight: 500;
      font-size: 2rem;
    }

    // date
    h2 {
      font-weight: 200;
      font-size: 1.2rem;
      color: #636565;
    }

    // tags
    .blog-page-item__tags {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
      color: #636565;

      list-style: none;
    }
    margin-bottom: 1.2rem;
  }

  p {
    font-weight: 100;
    margin: 1.5rem 0;
  }

  a {
    color: #266d75;
  }

  h2 {
    font-weight: 500;
    font-size: 1.25rem;
  }

  h1 {
    font-weight: 500;
  }
}
