.blog-preview-item {
  background-color: #ffffff;
  border: #656463 2px solid;

  padding: 2rem;
  width: clamp(15rem, 40vw, 40rem);
  height: max-content;

  h2 {
    font-weight: 200;
    font-size: 1.2rem;
  }

  p {
    color: #656463;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &:hover {
    border-color: #89aeb2;
    cursor: pointer;
  }
}
